* {
    margin: 0px;
    padding: 0px;
}

.botonRestar{
    background-color: #FF4858;
    padding: 1rem;
    color: white;
    border-radius: 10px;
    border-style: none;
    font-size: 14px;
    font-weight: bold;
}

.botonSumar{
    background-color: #0099DD;
    padding: 1rem;
    color: white;
    border-radius: 10px;
    border-style: none;
    font-size: 14px;
    font-weight: bold;
}

.input{
    display:flex;
    height: 100%;
    align-self: center;
    border-radius: 5px;
    border-color: #00CCC0;
    text-align: center;
    
}

.footer{
    display: flex;
    font-size: 9px;
    color: whitesmoke;
    text-align: center;
    justify-content: center;
    background-color: #747F7F;
}

.total{
    color:#0099DD;
}